{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jazzy Java Cafe</title>
    </head>
    <body class="index_page">
        <div class="header">
            <div class="nav">
                <div class ="home"> <a href="/">Home</a></div>
                <div class ="about"> <a href="/about">About </a></div>
                <div class ="menu"><a href="/menu/">Menu</a></div>
                <div class ="reservation"><a href="/reservation/">Reservations</a></div>
            </div>
        </div>
        <h1>Jazzy Java Cafe</h1>
    </body>
</html>
